*{text-align: center; font-family: Arial;}

body{
	background-color:  #FFC300;
}

input{
	padding: 3px;
	border-radius: 10px;
	border: 2px grey solid;
}


table,th,td{
	border-collapse:  collapse;
	border: 1px solid black;
	text-align: center;
}
